.search {
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.08);
}


.search__type .dropdown-menu, .search__type.open > a, .search__type > a:hover {
    background-color: #007a6e;
    color: white;
}
.search__type .dropdown-menu {
    top: 43px;
}
.search__type .dropdown-menu {
    top: 50px;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 6px 10px rgba(0,0,0,.2);
    min-width: 120px;
    width: 120px;
}
.search__type .dropdown-menu, .search__type.open > a, .search__type > a:hover {
    background-color: #ffa000;
}
.dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    padding: 10px 0;
    border-radius: 3px;
    top: -1px;
    margin: 0;
    border: 0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.search__body {
    position: relative;
    /*padding-left: 98px;*/
    overflow: hidden;
}


.search__input {
    height: 40px;
    font-size: 1.4em;
    font-weight: 300;
    padding-left: 115px;
}
.search__input, .search__input:focus {
    box-shadow: none;
}
.search__input {
    border: 0;
    height: 50px;
    font-size: 14px;
    padding: 1px 20px 0;
        padding-left: 20px;
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
}
.form-control, .form-control:focus {
    box-shadow: none;
}
.form-control {
    padding-left: 2px;
    padding-right: 2px;
    resize: none;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}