/*.cuurenttab {*/
/*    position: relative;*/
/*    background-color: #0053a5;*/
/*    text-decoration: none;*/
/*    text-align: left;*/
/*    color: #FFFFFF;*/
/*    border-color: #333;*/
/*}*/

#pagebody #tabs {
    margin-top: 30px;
}

#pagebody ul.tabs {
    list-style-type: none;
    padding: 0px;
    margin: 0 auto;
}




#pagebody ul.tabs li {
    float: left;
    margin-right: 0.21em;
    margin-left: 0px;
    text-align: center;
    line-height: 40px;
}

#pagebody ul.tabs a {
    position: relative;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    color: #3e3e3e;
    padding: 5px 13px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #0053a5;
}


/*#pagebody ul.tabs a.cuurenttab {*/
/*    position: relative;*/
/*    background-color: #0053a5;*/
/*    text-decoration: none;*/
/*    text-align: center;*/
/*    color: #FFFFFF;*/
/*    border-color: #333;*/
/*}*/