{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link type ="text/css" rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>


    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xm-12"></div>
            <div class="col-md-4 col-sm-4 col-xm-12">

{#                <form class="total_form" method="POST"> {% csrf_token %}#}
{#                  <div class="form-group">#}
{#                    <label for="exampleInputEmail1">Username</label>#}
{#                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label for="exampleInputPassword1">Password</label>#}
{#                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
{#                  </div>#}

{#                {% block content %}#}
{#                {% endblock %}#}
{##}
{#                  <button type="submit" class="btn btn-success btn-block">Submit</button>#}
{#                </form>#}
                <h1>Hello World!!!!</h1>
            </div>

        </div>

    </div>


</body>
</html>

{#.bg{background: url("back.jpg") no-repeat center fixed;#}
{#    background-size: cover;#}
{#    width: 100%;#}
{#    height: 100vh;}#}
