{#<div class="card" style="width: 20rem;">#}
{#    {% if not instance.slug %}#}
{#          <img class="card-img-top" src="back.jpg" alt="Card image cap">#}
{#    {% endif %}#}
{#  <div class="card-body">#}
{#    <h4 class="card-title">{{ instance.medicineName }}</h4>#}
{#    <p class="card-text">{{ instance.description }}</p>#}
{#    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>#}
{#  </div>#}
{#</div>#}


<div class="card">
{#    {% if not instance.slug %}#}
{#          <img class="card-img-top" src="back.jpg" alt="Card image cap">#}
{#    {% endif %}#}
  <div class="card-body">
    <h3 class="card-title">{{ instance.medicineName }}</h3>
    <p class="card-text">{{ instance.description }}</p>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
  </div>
</div>
