{% extends "index.html" %}
{% load static %}



{% block for_javascript %}
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}


{% block content %}

    {% if temp == 0 %}
        <h2 class="text-center" style="margin-top: 100px">Cart is Empty</h2>
    {% else %}
        <div class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped class-table-mine">
                            <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Available</th>
                                <th scope="col">Per-Peice</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-right">Price</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for obj,obj2 in zipped_data %}
{#                                <div class="messageError"></div>#}
                                <tr class="my_tr_class" id="hii{{ forloop.counter|stringformat:'i' }}">

                                    <td>{{ obj.medicineName }}</td>

                                    <td>{{ obj.amount }}</td>

                                    <td> {{ obj.price }}</td>

                                    <td><input class="form-control for-jq" type="text" value={{ obj2.noOfUnit }}
                                               oninput="cart_script(this)"/></td>

                                    {#                                    <td class="for_sum"> {% widthratio obj.price 1 obj2.noofUnit %}</td>#}
                                    <td class="for_sum"> {{ obj2.cost_calculator }} </td>

                                    <td class="text-right">
                                        <form action="" method="POST">{% csrf_token %}
                                            <input type="hidden" name="ano_id" value='{{ obj2.id }}'>
                                            <button type="submit" class="glyphicon glyphicon-trash"></button>
                                        </form>
                                    </td>
                                </tr>

                            {% endfor %}

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right"><strong id="total_price_here">{{ summm }}</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-sm-12  col-md-6">
                            <button onclick="location.href='/medicines';" class="btn btn-block btn-light">Add More
                                Medicine
                            </button>

                        </div>
                        <div class="col-sm-12 col-md-6 text-right">
                            <button class="btn btn-lg btn-block btn-success text-uppercase buttton_to_submit">Checkout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}



    <script>

        $(document).ready(function(e){
        $('.search-panel .dropdown-menu').find('a').click(function(e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#","");
            var concept = $(this).html();
            $('.search-panel span#search_concept').html(concept);
            $('.input-group #search_param').val(param);
            });
        });



    </script>


{% endblock %}