{% extends "index.html" %}
{% load static %}

{% block for_javascript %}
        <link rel="stylesheet" href="{% static 'css/edit.css' %}">
        <script src="{% static 'js/daily_med_reports.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="container">
        <form method="POST">{% csrf_token %}
            <div class="form-row des">

                    <div class="form-group col-sm-4">
                        <select id="inputState" class="form-control">
                            <option>Today</option>
                            <option>5</option>
                            <option>7</option>
                            <option>10</option>
                            <option>This Month</option>
                            <option>Last 30 Days</option>
                            <option>Last Year</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Report</button>
            </div>
        </form>


        <div class="container">
            <canvas id="lineChart"></canvas>
        </div>
    </div>



    <script>


        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
          type: 'line',
          data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "My First dataset",
                data: [65, 59, 80, 81, 56, 55, 40],
                backgroundColor: [
                  'rgba(105, 0, 132, .2)',
                ],
                borderColor: [
                  'rgba(200, 99, 132, .7)',
                ],
                borderWidth: 2
              }]
          },
          options: {
            responsive: true
          }
        });



    </script>



{% endblock %}

