{% extends "index.html" %}

{% block content %}

    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Medicine Name</th>
                <th scope="col">Medicine Amount</th>
                <th scope="col">Price Per piece</th>
                <th scope="col">Cost</th>
            </tr>
            </thead>
            <tbody>
            {% for obj,obj2 in zipped_data %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ obj.medicine.medicineName }}</td>
                    <td>{{ obj.noofUnit }}</td>
                    <td>{{ obj.medicine.price }}</td>
                    <td>{{ obj2 }}</td>
                        </form>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <div class="row">

            <h2>Total Cost : {{ cost }}</h2>

        </div>

    </div>

{% endblock %}
