{% extends "index.html" %}
{% load static %}


{% block for_javascript %}
    <script src="{% static 'js/edit.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}





{% block content %}

    <div class="container">
        <div class="row des">
             <form method="POST" class="form-inline edit_limit">{% csrf_token %}

              <div class="form-group">
                <label class="l" for="limit">Medicine Limit  :</label>
                  <input type="hidden" id="foo" name="med_id" value='{{ here }}'/>
                  <input type="number" id="limit" value={{ limit }} class="form-control">
              </div>

              <button type="submit" class="btn btn-default">Change</button>
            </form>
        </div>

        <div class="row"></div>

        <div class="row des">
            <form method="POST" class="form-inline edit_description">{% csrf_token %}
                <div class="form-group">
                    <div class="form-group purple-border nxtt">
                      <label for="exampleFormControlTextarea4">Medicine Description</label>
                        <input type="hidden" id="foo" name="med_id" value='{{ here }}'/>
                        <textarea class="form-control" id="des_area" rows="4">{{ descrip }}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Change</button>
            </form>
        </div>

        <div class="row des">
             <form method="POST" class="form-inline edit_cost">{% csrf_token %}

              <div class="form-group">
                <label class="l" for="limit">Medicine Cost  :</label>
                  <input type="hidden" id="foo" name="med_id" value='{{ here }}'/>
                  <input type="text" id="cost" value={{ cos }} class="form-control">
              </div>

              <button type="submit" class="btn btn-default">Change</button>
            </form>
        </div>


        <div class="container">
            <canvas id="lineChart"></canvas>
        </div>


        <div class="container">
            <canvas id="lineChart2"></canvas>
        </div>

    </div>



    <script>


        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
          type: 'line',
          data: {
            labels: ["{{ date_total.0 }}", "{{ date_total.1 }}", "{{ date_total.2 }}", "{{ date_total.3 }}", "{{ date_total.4 }}", "{{ date_total.5 }}", "{{ date_total.6 }}"],
                {##}
                {##}
                {#{% for obj in total_invoice %}#}
                {#    #}
                {#    #}
                {#    #}
                {#{% endfor %}#}
                {##}
                {##}

            datasets: [{
                label: "Cost",
                data: ["{{ med_sell_total.0 }}", "{{ med_sell_total.1 }}", "{{ med_sell_total.2 }}", "{{ med_sell_total.3 }}", "{{ med_sell_total.4 }}", "{{ med_sell_total.5 }}", "{{ med_sell_total.6 }}"],                            //med_sell_total
                backgroundColor: [
                  'rgba(105, 0, 132, .2)',
                ],
                borderColor: [
                  'rgba(200, 99, 132, .7)',
                ],
                borderWidth: 2
              }]
          },
          options: {
                text: 'Best Selling Medicines',
                responsive: true
          }
        });



        var ctxL2 = document.getElementById("lineChart2").getContext('2d');
        var myLineChart2 = new Chart(ctxL2, {
          type: 'line',
          data: {
            labels: ["{{ date_total.0 }}", "{{ date_total.1 }}", "{{ date_total.2 }}", "{{ date_total.3 }}", "{{ date_total.4 }}", "{{ date_total.5 }}", "{{ date_total.6 }}"],
                {##}
                {##}
                {#{% for obj in total_invoice %}#}
                {#    #}
                {#    #}
                {#    #}
                {#{% endfor %}#}
                {##}
                {##}

            datasets: [{
                label: "Piece",
                data: ["{{ med_piece_total.0 }}", "{{ med_piece_total.1 }}", "{{ med_piece_total.2 }}", "{{ med_piece_total.3 }}", "{{ med_piece_total.4 }}", "{{ med_piece_total.5 }}", "{{ med_piece_total.6 }}"],                           //med_sell_total
                backgroundColor: [
                  'rgba(0, 137, 132, .2)',
                ],
                borderColor: [
                  'rgba(0, 10, 130, .7)',
                ],
                borderWidth: 2
              }]
          },
          options: {
            responsive: true
          }
        });


    </script>

{% endblock %}

