{% extends "index.html" %}
{% load static %}


{% block for_javascript %}
     <script src="{% static 'js/genericjs.js' %}"></script>
{% endblock %}


{% block content %}

    <div class="container" id="pagebody">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 my-auto">
                <div id="tabs">
                    <ul class="tabs">
                        <li><a href="/generic_alphabetical/A">A</a></li>
                        <li><a href="/generic_alphabetical/B">B</a></li>
                        <li><a href="/generic_alphabetical/C">C</a></li>
                        <li><a href="/generic_alphabetical/D">D</a></li>
                        <li><a href="/generic_alphabetical/E">E</a></li>
                        <li><a href="/generic_alphabetical/F">F</a></li>
                        <li><a href="/generic_alphabetical/G">G</a></li>
                        <li><a id="current-tab" href="/generic_alphabetical/H">H</a></li>
                        <li><a href="/generic_alphabetical/I">I</a></li>
                        <li><a href="/generic_alphabetical/J">J</a></li>
                        <li><a href="/generic_alphabetical/K">K</a></li>
                        <li><a href="/generic_alphabetical/L">L</a></li>
                        <li><a href="/generic_alphabetical/M">M</a></li>
                        <li><a href="/generic_alphabetical/N">N</a></li>
                        <li><a href="/generic_alphabetical/O">O</a></li>
                        <li><a href="/generic_alphabetical/P">P</a></li>
                        <li><a href="/generic_alphabetical/Q">Q</a></li>
                        <li><a href="/generic_alphabetical/R">R</a></li>
                        <li><a href="/generic_alphabetical/S">S</a></li>
                        <li><a href="/generic_alphabetical/T">T</a></li>
                        <li><a href="/generic_alphabetical/U">U</a></li>
                        <li><a href="/generic_alphabetical/V">V</a></li>
                        <li><a href="/generic_alphabetical/W">W</a></li>
                        <li><a href="/generic_alphabetical/X">X</a></li>
                        <li><a href="/generic_alphabetical/Y">Y</a></li>
                        <li><a href="/generic_alphabetical/Z">Z</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <section id="team">
        <div class="container-fluid my-3 py-5 text-center">
            <div class="row">


                {% for obj in user_obj %}
                    <div class="col-lg-3 col-md-6 xx">
                        <div class="card">
                            <div class="card-body">
{#                            <img src="{% static 'css/bg.jpg' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">#}
                                <h3 class="card-title colorr">{{ obj.medicineName }}</h3>
                                <h5 class="card-title">Generic Name : {{ obj.genre }}</h5>
                                <h5 class="card-title">Medicine Brand : {{ obj.brand }}</h5>
                                <h6 class="card-title">Available : {{ obj.amount }}</h6>
                                <h6 class="card-title">Price/Medicine : {{ obj.price }}</h6>
                                <p class="card-text">{{ obj.description }}</p>
{#                                <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">View</a>#}

                                {% if obj in is_med_in %}
                                    <button class="btn btn-danger">Added to Cart</button>

                                {% else %}

                                    <form method="POST" class="form submitting">{% csrf_token %}
                                    <input type="hidden" id="foo" name="med_id" value='{{ obj.id }}' />
                                    <button type="submit" class="btn btn-success">Add to Cart</button>
                                    </form>

                                {% endif %}

                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>

    <script src="{% static 'css/js/alpha.js' %}"></script>

{% endblock %}