{% extends "index.html" %}
{#{% load custom_tags %}#}

{% block content %}

    <div class="container">


        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Invoice ID</th>
                <th scope="col">Selling Date</th>
                <th scope="col">Selling Time</th>
                <th scope="col">Amount</th>
{#                <th scope="col">Details</th>#}
            </tr>
            </thead>
            <tbody>
            {% for obj in total_invoice %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.sellingDate }}</td>
                    <td>{{ obj.sellingTime }}</td>
                    <td>{{ obj.selling_price }}</td>
                    <td class="text-right">
{#                        <form action="" method="POST">{% csrf_token %}#}
{#                            <input type="hidden" name="ano_id" value='{{ obj.id }}'>#}
{#                            <button  type="submit" class="fa fa-eye"></button>#}
                        <a href="/invoice-details/{{ obj.id }}"><i class="fa fa-eye" style="font-size:24px"></i></a>
                        </form>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock %}
