{% extends "index.html" %}
{% load static %}

{% block for_javascript %}
     <script src="{% static 'js/home_mychart.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="container">
            <canvas id="myChart"></canvas>
        </div>

    </div>

{% endblock %}
