{% extends "index.html" %}

{% block content %}

<div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xm-12"></div>
            <div class="col-md-4 col-sm-4 col-xm-12">

                <form class="total_form" method="POST"> {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                </form>

            </div>

        </div>

    </div>

{% endblock %}