{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>

    <meta charset="UTF-8">
    <meta name="description" content=" Divisima | eCommerce Template">
    <meta name="keywords" content="divisima, eCommerce, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="{% static 'css/favicon.ico' %}" rel="shortcut icon"/>





    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sort.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">


    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">






    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    {% block for_javascript %}

    {% endblock %}


</head>
<body>

<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-lg-left">
                    <!-- logo -->
                    <a href="/home" class="site-logo">
                        <img src="{% static 'css/logo.png' %}" alt="">
                    </a>
                </div>


                <div class="col-xl-6 col-lg-5">
                    <form method="POST" action='{% url "search" %}' class="search_submitting">{% csrf_token %}
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  <span id="search_concept"><span class="glyphicon glyphicon-align-justify"></span> All</span>  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#contains"> By Trade Name</a></li>
                                  <li><a href="#its_equal"> By Generic Name</a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="search_param" value="all" id="search_param">
                            <input type="text" class="form-control" name="x" placeholder="Search medicines...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                 </div>






                <div class="col-xl-4 col-lg-5">
                    <div class="user-panel">
                        <div class="up-item">
                            <i class="flaticon-profile"></i>
                            <a href="/logout">Log Out</a>
                        </div>
                        <div class="up-item">
                            <div class="shopping-card">
                                <i class="flaticon-bag"></i>
                                <span>0</span>
                            </div>
                            <a href="/checkout">Med Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="main-navbar">
        <div class="container">
            <!-- menu -->
            <ul class="main-menu">
                <li><a href="/home">Home</a></li>
                <li><a>Medicines</a>
                    <ul class="sub-menu">
                        <li><a href="/medicines">View All Medicines</a></li>
{#                        <li><a href="/add_medicines">Add Medicine</a></li>#}
                        <li><a href="/trade_alphabetical/a">By Trade Name</a></li>
                        <li><a href="/generic_alphabetical/a">By Generic Name</a></li>
                    </ul>
                </li>
                <li><a>Daily Report</a>
                    <ul class="sub-menu">
                        <li><a href="/bestreports">Best Selling Medicines</a></li>

                    </ul>
                </li>

                <li><a href="/history">Selling History</a>
                </li>
                <li><a href="/import">Import</a></li>
                <li><a href="/notification">Notifications</a></li>
                <li><a href="#">Contact Dealers</a></li>
            </ul>
        </div>
    </nav>


</header>




{% block content %}

{% endblock %}



<script>

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ["{{ med_name.0 }}", "{{ med_name.1 }}", "{{ med_name.2 }}", "{{ med_name.3 }}", "{{ med_name.4 }}", "{{ med_name.5 }}"],
            datasets: [{
                label: 'Medi',
                data: [
                    {{ med_amount.0 }},
                    {{ med_amount.1 }},
                    {{ med_amount.2 }},
                    {{ med_amount.3 }},
                    {{ med_amount.4 }},
                    {{ med_amount.5 }}
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)',
                    'rgba(255, 99, 132, 0.6)'
                ],
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Best Selling Medicines',
                fontSize: 25
            },
            legend: {
                display: true,
                position: 'false',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 30
                }
            },
            tooltips: {
                enabled: true
            }
        }
    });



    $(document).ready(function(e){
    $('.search-panel .dropdown-menu').find('a').click(function(e) {
		e.preventDefault();
		var param = $(this).attr("href").replace("#","");
		var concept = $(this).html();
		$('.search-panel span#search_concept').html(concept);
		$('.input-group #search_param').val(param);
        });
    });




</script>


</body>
</html>
