{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link type ="text/css" rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>


    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xm-12"></div>
            <div class="col-md-4 col-sm-4 col-xm-12">

                <form class="total_form" method="POST"> {% csrf_token %}

                    {{ login_form.as_p }}

                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                </form>

            </div>

        </div>

    </div>


</body>
</html>
