{% extends "index.html" %}
{% load static %}


{% block for_javascript %}
    <script src="{% static 'js/medicine.js' %}"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}



{% block content %}
    <section id="team">
        <div class="container-fluid my-3 py-5 text-center">
            <div class="row">


                {% for obj in user_obj %}
                    <div class="col-lg-3 col-md-6 xx">
                        <div class="card">
                            <div class="card-body">

                                <h3 class="card-title colorr">{{ obj.medicineName }}</h3>
                                <h5 class="card-title">Generic Name : {{ obj.genre }}</h5>
                                <h5 class="card-title">Medicine Brand : {{ obj.brand }}</h5>
                                <h6 class="card-title">Available : {{ obj.amount }}</h6>
                                <h6 class="card-title">Price/Medicine : {{ obj.price }}</h6>
                                <p class="card-text">{{ obj.description }}</p>

                                {% if obj in is_med_in %}
                                    <button class="btn btn-danger">Added to Cart</button>

                                {% else %}

                                    <form method="POST" class="form submitting">{% csrf_token %}
                                        <input type="hidden" id="foo" name="med_id" value='{{ obj.id }}'/>
                                        <button type="submit" class="btn btn-success">Add to Cart</button>
                                    </form>

                                {% endif %}

                                <form action="/edit/{{ obj.id }}" class="form editing">
{#                                        <input type="hidden" id="foo" name="med_edit_id" value='{{ obj.id }}'/>#}
                                        <button type="submit" class="btn btn-info">Edit</button>
                                </form>

                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>

{% endblock %}
