{% extends "index.html" %}

{% block content %}


    <div class="container for_mar">
        <div class="row"></div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for obj in med_obj %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                    <td><b>Low Amount :</b>  Amount of <b>{{ obj.medicineName }}</b> is {{ obj.amount }} . Add them to inventory.</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}
